@bg: #a7abb4;
@textColor: #2b2b2b;
@menuBg: #555c66;
@menuBorder: #33373b;
@menuTabBg: #797a7c;
@menuTabActive: #c0c2c5;
@menuTabWidth: 150px;

@videoWidth: 996px;
@videoHeight: 560px;

@inputBg: #cbcccf;

*{
	font-family: 'Helvetica Neue', Arial, 'Helvetica', sans-serif;
	color: @textColor;
}

html,
body{
	margin: 0;
	padding: 0;
	background: @bg;
	overflow: hidden;
}

#menu{
	box-shadow:0 1px 1px rgba(100, 100, 100, 0.1);
	margin: 0;
	height: 20px;
	background: @menuBg;
	overflow-y: hidden;

	.wrapper{
		display: inline-block;
		position: relative;
		width: @menuTabWidth - 9px;
		height: 20px;
	}

	button{
		position: absolute;
		z-index: 2;
		top: 0;
		display: inline-block;
		box-sizing: border-box;
		-webkit-appearance: none;
		background: @menuTabBg;
		border: 1px solid @menuBorder;
		border-radius: 3px;
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 8px;
		padding-bottom: 12px;
		color: @textColor;
		outline: none;
		cursor: pointer;
		margin: 1px 0 0 0;
		width: @menuTabWidth;
		height: 22px;
		line-height: 20px;
		transform: perspective(5px) rotateX(1deg);
    	transform-origin: bottom;
		box-shadow:         inset 1px 2px 7px rgba(255, 255, 255, 0.2);
		
		&.active{
			background: @menuTabActive;
			z-index: 10;
			box-shadow: 0px 0px 3px rgb(0, 0, 20, 0.2), inset 0 2px 7px rgba(255, 255, 255, 0.8);
		}
		&:hover{
			background: @menuTabActive;
		}
	}

	label {
		display: block;
		position: absolute;
		z-index: 100;
		pointer-events: none;
		top: 0;
		font-size: 12px;
		width: @menuTabWidth;
		height: 20px;
		line-height: 22px;
		text-align: center;
		color: @textColor;
		text-shadow: 0px 1px 0px rgba(0, 0, 20, 0.1);
    }
}

#sonifyTimeline{
	position: relative;
	height: 20px;
	border-bottom: 1px solid #83878b;
	background: #dbdfe3;
	width: 1000px;
	.timeline{
		position: relative;
		background: #fff;
		width: 970px;
		margin: 0 auto;
		height: 19px;
		border-right: 1px solid #83878b;
		border-left: 1px solid #83878b;
	}
	.center-line{
		position: absolute;
		width: 968px;
		height: 10px;
		top: 0;
		border-bottom: 1px solid #e6e6ed;
	}
	.cursor{
		cursor: e-resize;
		position: absolute;
		z-index: 100;
		width: 1px;
		height: 20px;
		background: #000;
		top: 0;
		left: 0%;
		&:after{
			content: "";
			display: block;
			position: absolute;
			border-left: 5px solid transparent;
			border-right: 5px solid transparent;

			border-top: 6px solid #fff900;
			margin-left: -5px;
			width: 0; 
			height: 0; 
		}
		&:before{
			content: "";
			display: block;
			position: absolute;
			border-left: 7px solid transparent;
			border-right: 7px solid transparent;

			border-top: 8px solid #000;
			margin-left: -7px;
			width: 0; 
			height: 0; 
			margin-top: -1px;
		}
	}
}

#sonify,
#visualize {
	display: none;
	&.show{
		display: block;
	}
}

#sonifyControl {
    width: 420px;
    margin: 0 auto;
}

#theatre{
	background : #000;
	width: @videoWidth;
	height: @videoHeight;
	margin: 4px auto 2px;
	position: relative;
	box-shadow: 0px 0px 4px rgba(0, 0, 20, 0.3);
}

#video {
    height: @videoHeight;
	width: auto;
	margin: 0 auto;
    display: block;
    user-select: none;
}
#still {
	height: @videoHeight;
	width: auto;
	margin: 0 auto;
    display: block;
    user-select: none;
}

#canvas{
	background: #000;
	position: absolute;
	margin: -10000px -10000px;
}

#startSelect,
#endSelect{
	width: 1px;
	height: @videoHeight;
	position: absolute;
	background: #f00;
	top: 0;
	cursor: e-resize;
	&::before{  
		display: block;
		content: " ";
		width: 0; 
		height: 0; 
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-top: 5px solid #f00;
		margin-left: -5px;
    	margin-top: -5px;
	}
	&::after{  
		display: block;
		content: " ";
		width: 0; 
		height: 0; 
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-bottom: 5px solid #f00;
		margin-left: -5px;
    	margin-top: @videoHeight;
	}
}

#timeline{
	margin-top: 15px;
	height: 80px;
	background: rgba(0, 0, 0, 0.1);
	overflow-y: hidden;
	overflow-x: scroll;
	.frame{
		display: inline-block;
		height: 60px;
		width: 80px;
		margin-top: 2px;
		margin-left: 3px;
		border-radius: 3px;
		background: #999;
		cursor: pointer;
	}
}

#visualize {
	display: none;
	&.show{
		display: block;
	}
}
.optionWrapper{
	margin-top: 30px;

}
.options {
	width: 50%;
	height: auto;
	float: left;
	select,
	input[type=text],
	input[type=number],
	input[type=submit],
	button{
		display: block;
		margin: 0 auto;
	}
}
input[type=text],
input[type=number],
input[type=submit]{
	width: 120px;
}
select,
input[type=text],
input[type=number],
input[type=submit],
button,
textarea,
.info{
	-webkit-appearance: none;
	border: 2px solid rgba(100, 100, 100, 0.3);
	outline: 0;
	border-radius: 5px;
	width: 200px;
	height: 30px;
	line-height: 30px;
	margin: 5px auto 0;
	padding: 0px 10px;
	box-sizing: border-box;
	cursor: pointer;
	text-align: center;
	background: transparent;
}
input[type=text],
input[type=number],
input[type=submit],
textarea,
.info{
	background: @inputBg;
	font-family: monospace;

	border-top: 1px solid #5d616a;
	border-left: 1px solid #5d616a;
	border-bottom: 1px solid #f2f2f3;
	border-right: 1px solid #f2f2f3;
	height: 20px;
	line-height: 15px;
	font-size: 12px;
	border-radius: 0;
	margin: 4px;
	&:active{
		background: lighten(#cecdd3, 15%);
	}
}
.info {
	div,
	div span{
		font-family: monospace;
	}
	&:active{
		background: @inputBg;
	}
}
select{
	text-align-last: center;
}

textarea,
.info{
	padding: 10px;
	text-align: left;
	width: 492px;
	height: 220px;
	padding: 10px;
}

#timecodes{
	height: 26px;
}

#startTimecode{
	float: left;
}
#endTimecode{
	float: right;
}


#nextFrame,
#prevFrame{
	width: 98px;
}

#videoControl{
	background: #d6d6d6;
	position: relative;
	z-index: 1;
	height: 50px;
	.bg {
		position: absolute;
		z-index: -1;
		height: 50px;
		width: 1000px;
		background-image: url('./noise.png');
		background-size: 500% 130%;
		background-position: center;
		padding-top: 20px;
		filter: blur(1px);
		-webkit-filter: blur(1px);
		opacity: 0.8;
	}
	> div:not(.bg){
		width: 420px;
		margin: 0 auto;
		*:last-child{
			float: none;
		}
	}
	button,
	input {
		float: left;
		margin-right: 4px;
	}
}

#overlay {
	display: none;
	position: absolute;
	width: 100%;
	height: 100vh;
	left: 0;
	top: 0;
	background: rgba(0, 0, 0, 0.6);
	z-index: 10;
	&.show{
		display: block;
	}
}

#overlayMsg {
	width: 25%;
	height: 15vh;
	margin: 25vh auto 0;
	color: rgba(255, 255, 255, 0.8);
	text-align: center;
}

#overlaySpinner{
    width: 200px;
    height: 100px;
    position: relative;
    margin:  0 auto;
}

#overlayProgress {
	border: 1px solid white;
	border-radius : 6px;
	width: 300px;
	height: 20px;
	background: transparent;
	overflow: hidden;
	margin: 0 auto;
}

#overlayProgressBar{
	background:white;
	float: left;
	width: 0%;
	height: 20px;
}

#overlayProgressMsg{
	color: white;
	width: 300px;
	margin : 10px auto;
	text-align: center;
}

#dragOverlay {
	display: none;
	position: absolute;
	width: 100%;
	height: 100vh;
	left: 0;
	top: 0;
	background: rgba(0, 0, 0, 0.3);
	&.show{
		display: block;
	}
	.outline {
		pointer-events: none;
		width: 75%;
		height: 75vh;
		margin: 12.5vh auto 0;
		border: 10px dashed rgba(255, 255, 255, 0.5);
		border-radius: 40px;
		pointer-events: none;
	}
}

#dndfilename{
	color: rgba(255, 255, 255, 0.5);
	font-weight: bold;
	font-size: 50px;
	line-height: 80vh;
	text-align: center;
	text-transform: uppercase;
	pointer-events: none;
}

#displayError{
	color: red;
	text-align: center;
	position: absolute;
	z-index: 1000;
	width: 720px;
	height: 405px;
	line-height: 405px;
	top: 0;
}

#sonifyCancel {
	margin: 0 auto;
    display: block;
    color: white;
    border-color: white;
}

.hide{
	display: none !important;
}